<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
	<title>jiabeng</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/edit_screen.css">
	<script src="https://unpkg.com/vue"></script>
</head>
<body onload="load()">
	<div id="app">
		<!--<form action="/upload" enctype="multipart/form-data" method="POST">
			<div id="photo-upload" title="choose your food photo">
				<label for="file"><img src="img/LOGO-03.png" alt=""></label>
				<input type="file" id = "file" onchange="readURL(this)" name="file">
			</div>
			<br>
			<div class="form">
				<input type="text" name="poster" value="paul tsai" style="display: none">
				<input type="text" name="title" placeholder="食物名稱">
				<input type="text" name="time" placeholder="時間">
				<div class="place-box">
					<input type="text" name="place" placeholder="地點" id = "place"><i class="fa fa-map-marker" aria-hidden="true" title="show on map" onclick="addressGps();"></i>
				</div>
				<textarea name="intro" id="" cols="30" rows="10" placeholder="介紹一下吧"></textarea>
				<ul class="mission-list">
					募集項目:<i class="fa fa-plus" aria-hidden="true"></i>
					<li class="list">
						<input type="text" placeholder="項目內容" name = 'item0'>
					</li>
				</ul>
				<div id="my_map"></div>
				<button type="submit" id="build">BUILD</button>
			</div>
		</form>-->
		<form action="/upload" enctype="multipart/form-data" method="POST">
			<div id="banner">
				<div class="filter">
				</div>
				<header>
					<a href="./"><img src="img/app_logo_deepBlue.png" alt="" class="logo"></a>
					<img src="img/list_icon.png" alt="" class="list">
				</header>
				<br>
				<label for="file" title="choose a food photo" id="photo-upload"><img src="img/LOGO-03.png" alt="" class="plate-logo"></label>
				<input type="file" id = "file" onchange="readURL(this)" name="file" style="display: none">
				<br>
				<h2>上傳你構想的食物吧</h2>
			</div>
			<div class="post-board">
				<input type="text" class = "userid" name="poster_id" value="<%=user.id%>" style="display: none">
				<input type="text" name="poster" value="<%=user.name%>" style="display: none">
				<input type="text" name="poster_img" value="<%=user.img%>" style="display: none">
				<input type="text" name="title" placeholder="食物名稱">
				<input type="text" name="time" placeholder="時間">
				<input type="text" name="people_limit" placeholder="人數限制">
				<div class="place-box">
					<input type="text" name="place" placeholder="地點" id = "place"><i class="fa fa-map-marker" aria-hidden="true" title="show marker below" onclick="addressGps();"></i>
				</div>
				<textarea name="intro" id="" cols="30" rows="10" placeholder="介紹一下吧"></textarea>
				<textarea name="item_list" id="" cols="30" rows="3" placeholder="募集內容 ex: 主廚、食材、餐具..."></textarea>
				<!--<ul class="mission-list">
					募集項目:<i class="fa fa-plus" aria-hidden="true"></i>
					<li class="list">
						<input type="text" placeholder="項目內容" name = 'item0'>
					</li>
				</ul>-->
				<div id="my_map"></div>
				<% if(loginStatus){%>
					<button type="submit" id="build">BUILD</button>
				<%}else{%>
					<button type="submit" id="build" disabled>BUILD</button>
				<%}%>
			</div>
		</form>
		<div class="list-board">
			<i class="fa fa-times" aria-hidden="true"></i>
			<ul>
				<% if(loginStatus){%>
					<li class = "user-profile"><img src="<%=user.img%>" alt="" class = "user-img"><br><h3 class = "user-name"><%= user.name%></h3></li>
				<%}else{%>
					<li class="login"><i class="fa fa-facebook" aria-hidden="true" style="color: white"></i>登入</li>
					<li class ="signup"><i class="fa fa-facebook" aria-hidden="true" style="color: white"></i>註冊</li>
				<%}%>
				<a href="./edit"><li class="edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></li></a>
				<li><i class="fa fa-sticky-note-o note" aria-hidden="true"></i><br>
				<div class="note-board" style="display: none">
				</div>
				</li>
			</ul>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </script>
	<script>
		$(function(){
			let i = 0
			$('.fa-plus').click(()=>{
				i++
				let addContent = '<li class="list">'+'<input type="text" placeholder="項目內容" name = "item'+i+'">'+
				'</li>'
				//console.log(addContent)
				$('.mission-list').append(addContent)
			})

			$('.fa-times').click(()=>{
				$('.list-board').css({
					'display': 'none'
				})
			})

			$('.list').click(()=>{
				$('.list-board').css({
					'display': 'initial'
				})
			})

			$('.note').click(function(){
				let content = {}
				content.id = $('.userid').val()
				console.log(content.id)
				$.ajax({
			        type: 'POST',
			        data: JSON.stringify(content),
			        contentType: 'application/json',
			        url: '../find_my_event',
			        success: function(data) {
			        	$('.note-board').css({
			        		"display": "initial"
			        	})
			        	.css({
			        		"display": "inline-block"
			        	})
			        	.html('')
			        	for (let i = 0 ; i < data.my_post.length ; i++ ){
			        		let context = '<a href="'+data.my_post[i].link+'">'+
											'<div class="each-note">'+
												'<i class="fa fa-thumb-tack" aria-hidden="true"></i>'+
												'<h3>'+data.my_post[i].post_title+'</h3>'+
											'</div>'+
											'</a>'
			        		$('.note-board').append(context)
			        	}
			        	for (let i = 0 ; i < data.attend_list.length ; i++ ){
			        		let context = '<a href="'+data.attend_list[i].link+'">'+
											'<div class="each-note">'+
												'<i class="fa fa-thumb-tack" aria-hidden="true"></i>'+
												'<h3>'+data.attend_list[i].post_title+'</h3>'+
											'</div>'+
											'</a>'
			        		$('.note-board').append(context)
			        	}
			     		if(data.my_post.length == 0 && data.attend_list.length == 0){
			     			$('.note-board').html('<div class="each-note">目前沒有活動</div>')
			     		}
			           /* $('.note').html('<li style="padding: 10px">'+data+'</li>')*/
			            //setTimeout(()=>{window.location = '/'},2000)
			        }
			    })
			})


		}())

		function readURL(input) {
			if (input.files && input.files[0]) {
		    var reader = new FileReader();
		    reader.onload = function (e) {
		      $('#photo-upload img')
		        .attr('src', e.target.result)
		    };
		    reader.readAsDataURL(input.files[0]);
		  }
		}
		var myMap;
		var myMarker;
		function load() {
			var myLatLng = new google.maps.LatLng(22.9996873, 120.21809469999994)
			myMap = new google.maps.Map(document.getElementById("my_map"),{
				center: myLatLng,
				zoom: 15,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			})
				myMarker = new google.maps.Marker({
	            position: myLatLng,
	            map: myMap
	     	})
		}

		function addressGps() {
			var myGeocoder = new google.maps.Geocoder();
			var address = document.getElementById('place').value;
			myGeocoder.geocode({address: address}, function(results, status) {
		          if (status === 'OK') {
			            myMap.setCenter(results[0].geometry.location);
			            myMarker.setMap(null)
			            myMarker = new google.maps.Marker({
			              map: myMap,
			              position: results[0].geometry.location
			            });
		          } else {
		            //alert('Geocode was not successful for the following reason: ' + status);
		          }
		        })
		}

		/*$("#build").click((data) => {
			let content = {}
			content.title = $('input[name="title"]').val()
			content.name = $('input[name="name"]').val()
			content.time = $('input[name="time"]').val()
			content.game_time = $('input[name="game_time"]').val()
			content.price = $('input[name="price"]').val()
			content.place = $('input[name="place"]').val()
			content.rules = $('input[name="rules"]').val()
		    $.ajax({
		        type: 'POST',
		        data: JSON.stringify(content),
		        contentType: 'application/json',
		        url: './build_event',
		        success: function(data) {
		            console.log('success');
		            $('.form').html('<h3>your post ID: '+data+'</h3>')
		        }
		    });
		})*/
	</script>
  	<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyAxSB6ubUXYlbNl67cImH8aJk4cYEafjoM&sensor=true"></script>
</body>
</html>