<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
	<title>jiabeng</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../../css/new_post_screen.css">
	<script src="https://unpkg.com/vue"></script>
</head>
<body onload='addressGps("<%=post.place%>")'>
	<div id="app">
		<div id="post-area">
			<div class="title">
				<h2><%= post.title %></h2>
				<label for="">post by</label><a><%= post.poster %></a>
			</div>
			<img src="<%= post.imgURL%>" alt="" class = "food-photo">
			<div class="info">
				<ul>
					<label for="">活動時間:</label><li><%= post.time %></li>
					<label for="">地點:</label><li><%= post.place %></li>
					<label for="">最低人數:</label><li><%= post.members %></li>
					<label for="">募集項目:</label>
					<ul>
						<% for( let i = 0; i < post.item.length ; i++ ) {%>
							<li><%= post.item[i] %></li>
						<%}%>
					</ul>
					<label for="">規則:</label><li><%= post.rules %></li>
				</ul>
			</div>
			<div id="my_map"></div>
			<div class="member-list">
				<% for(let i = 0 ; i < post.joinList.length ; i++ ){%>
					<div>
						<h3><%= post.joinList[i].name%></h3>
						<h3>offer: <%= post.joinList[i].food%></h3>
					</div>
				<%}%>
			</div>
			<% let joined = false %>
			<% post.joinList.find((obj)=>{
					if( obj.userID === 'QWEQWWWED'){
						joined = true
					}
				} ) %>
			<% if(joined) {%>
				<button id = "join" disabled style="background-color: gray">JOIN</button>
			<%}else{%>
				<button id = "join">JOIN</button>
			<%}%>
		</div>
	</div>
	<form action="./join_event/<%=post.id%>" method="POST" id="user-input" class="hidden">
		<i class="fa fa-times cross" aria-hidden="true"></i>
		<input type="text" name="userID" value="QWEQWWWED" style ="display:none">
		<input type="text" name="name" value="paul" style ="display:none">
		<input type="text" name="food" placeholder="你想貢獻的食材">
		<br>
		<br>
		<button id="continue">CONTINUE</button>
	</form>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
		$('#join').click(()=>{
			$('#user-input').removeClass('hidden')
			$('#app').css({
				"filter": "brightness(30%)"
			})
		})
		$('#user-input>.cross').click(()=>{
			$('#user-input').addClass('hidden')
			$('#app').css({
				"filter": "brightness(100%)"
			})	
		})
		/*$('#continue').click(()=>{
			let val = $('#user-input input').val()
			let content = {}
			content.userID = 'QWEQWWWED' 
			content.name = 'paul'
			content.offer = val
			$.ajax({
		        type: 'POST',
		        data: JSON.stringify(content),
		        contentType: 'application/json',
		        url: './food/join_event/<%=post.id%>',
		        success: function(data) {
		            console.log('success');
		            $('#user-input').html('<h3>'+data+'</h3>')
		        }
		    })
		})*/
		function addressGps(place) {
			console.log(place)
			var myLatLng = new google.maps.LatLng(22.9996873, 120.21809469999994)
			var myGeocoder = new google.maps.Geocoder();
			var address = place
			var myMap = new google.maps.Map(document.getElementById("my_map"),{
				center: myLatLng,
				zoom: 15,
				mapTypeId: google.maps.MapTypeId.ROADMAP
			})
			myGeocoder.geocode({address: address}, function(results, status) {
		          if (status === 'OK') {
			            myMap.setCenter(results[0].geometry.location);
			            var myMarker = new google.maps.Marker({
				            map: myMap,
				            position: results[0].geometry.location
			            });
		          } else {
		            //alert('Geocode was not successful for the following reason: ' + status);
		          }
		        })
		}
	</script>
	<script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyAxSB6ubUXYlbNl67cImH8aJk4cYEafjoM"></script>
</body>
</html>