<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
	<title>jiabeng</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/new_post_screen.css">
	<script src="https://unpkg.com/vue"></script>
</head>
<body>
	<div id="app">
		<div id="post-area">
			<div class="title">
				<h2><%= post.title %></h2>
				<label for="">post by</label><a><%= post.name %></a>
			</div>
			<div class="info">
				<ul>
					<label for="">集合時間:</label><li><%= post.time %></li>
					<label for="">地點:</label><li><%= post.place %></li>
					<label for="">食物價格:</label><li><%= post.price %></li>
					<label for="">最低人數:</label><li><%= post.members %></li>
					<label for="">遊戲開始時間:</label><li><%= post.game_time %></li>
					<label for="">規則:</label><li><%= post.rules %></li>
				</ul>
			</div>
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14691.451547978273!2d120.2224226!3d22.992068949999997!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xde0905a4a9fa300e!2z5oiQ5aSn6Yar6Zmi!5e0!3m2!1szh-TW!2stw!4v1497107602449" frameborder="0" style="border:0" allowfullscreen></iframe>
			<button id = "join">JOIN</button>
		</div>
	</div>
	<form action="./join_event/<%= id %>" id="user-input" method="post" class="hidden">
		<i class="fa fa-times cross" aria-hidden="true"></i>
		<input type="text" name="realname" placeholder="真實姓名(只有主辦人會知道)">
		<input type="text" name="nickname" placeholder="暱稱">
		<input type="text" name="food" placeholder="想吃的食物(ex:勝早蛋餅)">
		<input type="text" name="question" placeholder="出個關於這份食物或店家有關的題目吧">
		<ul>
			<h3>您題目的選項</h3>
			<li><input type="text" name="answerA" placeholder="選項A" ></li>
			<li><input type="text" name="answerB" placeholder="選項B"></li>
			<li><input type="text" name="answerC" placeholder="選項C"></li>
			<li><input type="text" name="answerD" placeholder="選項D"></li>
		</ul>
		<h3>正確答案為</h3>
		<select name="answer" id="">
			<option value="A">A</option>
			<option value="B">B</option>
			<option value="C">C</option>
			<option value="D">D</option>
		</select>
		<br>
		<br>
		<button>CONTINUE</button>
	</form>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
		$('#join').click(()=>{
			$('#user-input').removeClass('hidden')
			$('#app').css({
				"filter": "brightness(30%)"
			})
		})
		$('#user-input>.cross').click(()=>{
			$('#user-input').addClass('hidden')
			$('#app').css({
				"filter": "brightness(100%)"
			})	
		})
	</script>
</body>
</html>